<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env ruby
#
# Lookup current word as a CSS property on w3c.org
#
# The mapping below was generated using:
# echo '$props = {'; curl -s http://meiert.com/en/indices/css-properties/ | ruby -ne 'puts %{\t"#{$2}"\t=&gt; "#{$1}",} if $_ =~ %r{&lt;th scope="row"&gt;&lt;a href="(.+?)"&gt;&lt;code&gt;(.+?)&lt;/code&gt;&lt;/a&gt;&lt;/th&gt;}'; echo '}'

$props = {
	"align-content"	=&gt; "http://www.w3.org/TR/css3-flexbox/#align-content",
	"align-items"	=&gt; "http://www.w3.org/TR/css3-flexbox/#align-items",
	"align-self"	=&gt; "http://www.w3.org/TR/css3-flexbox/#align-self",
	"alignment-adjust"	=&gt; "http://www.w3.org/TR/css3-linebox/#alignment-adjust",
	"alignment-baseline"	=&gt; "http://www.w3.org/TR/css3-linebox/#alignment-baseline",
	"all"	=&gt; "http://www.w3.org/TR/css3-cascade/#all-shorthand",
	"anchor-point"	=&gt; "http://www.whatwg.org/specs/web-apps/current-work/multipage/commands.html#anchor-points",
	"animation"	=&gt; "http://www.w3.org/TR/css3-animations/#animation",
	"animation-delay"	=&gt; "http://www.w3.org/TR/css3-animations/#animation-trigger",
	"animation-direction"	=&gt; "http://www.w3.org/TR/css3-animations/#animation-direction",
	"animation-duration"	=&gt; "http://www.w3.org/TR/css3-animations/#animation-duration",
	"animation-iteration-count"	=&gt; "http://www.w3.org/TR/css3-animations/#animation-iteration-count",
	"animation-name"	=&gt; "http://www.w3.org/TR/css3-animations/#animation-name",
	"animation-play-state"	=&gt; "http://www.w3.org/TR/css3-animations/#animation-play-state",
	"animation-timing-function"	=&gt; "http://www.w3.org/TR/css3-animations/#animation-timing-function",
	"appearance"	=&gt; "http://www.w3.org/TR/css3-ui/#appearance0",
	"azimuth"	=&gt; "http://www.w3.org/TR/CSS21/aural.html#propdef-azimuth",
	"backface-visibility"	=&gt; "http://www.w3.org/TR/css3-3d-transforms/#backface-visibility-property",
	"background"	=&gt; "http://www.w3.org/TR/css3-background/#the-background",
	"background-attachment"	=&gt; "http://www.w3.org/TR/css3-background/#the-background-attachment",
	"background-clip"	=&gt; "http://www.w3.org/TR/css3-background/#the-background-clip",
	"background-color"	=&gt; "http://www.w3.org/TR/css3-background/#the-background-color",
	"background-image"	=&gt; "http://www.w3.org/TR/css3-background/#the-background-image",
	"background-origin"	=&gt; "http://www.w3.org/TR/css3-background/#the-background-origin",
	"background-position"	=&gt; "http://www.w3.org/TR/css3-background/#the-background-position",
	"background-repeat"	=&gt; "http://www.w3.org/TR/css3-background/#the-background-repeat",
	"background-size"	=&gt; "http://www.w3.org/TR/css3-background/#the-background-size",
	"baseline-shift"	=&gt; "http://www.w3.org/TR/css3-linebox/#baseline-shift-prop",
	"binding"	=&gt; "http://www.w3.org/TR/becss/#the-binding",
	"bleed"	=&gt; "http://www.w3.org/TR/css3-gcpm/#bleed",
	"bookmark-label"	=&gt; "http://www.w3.org/TR/css3-gcpm/#bookmark-label",
	"bookmark-level"	=&gt; "http://www.w3.org/TR/css3-gcpm/#bookmark-level",
	"bookmark-state"	=&gt; "http://www.w3.org/TR/css3-gcpm/#bookmark-state",
	"bookmark-target"	=&gt; "http://www.w3.org/TR/css3-gcpm/#bookmark-target",
	"border"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-shorthands",
	"border-bottom"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-shorthands",
	"border-bottom-color"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-color",
	"border-bottom-left-radius"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-radius",
	"border-bottom-right-radius"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-radius",
	"border-bottom-style"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-style",
	"border-bottom-width"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-width",
	"border-collapse"	=&gt; "http://www.w3.org/TR/CSS21/tables.html#propdef-border-collapse",
	"border-color"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-color",
	"border-image"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-image",
	"border-image-outset"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-image-outset",
	"border-image-repeat"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-image-repeat",
	"border-image-slice"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-image-slice",
	"border-image-source"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-image-source",
	"border-image-width"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-image-width",
	"border-left"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-shorthands",
	"border-left-color"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-color",
	"border-left-style"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-style",
	"border-left-width"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-width",
	"border-radius"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-radius",
	"border-right"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-shorthands",
	"border-right-color"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-color",
	"border-right-style"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-style",
	"border-right-width"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-width",
	"border-spacing"	=&gt; "http://www.w3.org/TR/CSS21/tables.html#propdef-border-spacing",
	"border-style"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-style",
	"border-top"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-shorthands",
	"border-top-color"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-color",
	"border-top-left-radius"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-radius",
	"border-top-right-radius"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-radius",
	"border-top-style"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-style",
	"border-top-width"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-width",
	"border-width"	=&gt; "http://www.w3.org/TR/css3-background/#the-border-width",
	"bottom"	=&gt; "http://www.w3.org/TR/CSS21/visuren.html#propdef-bottom",
	"box-decoration-break"	=&gt; "http://www.w3.org/TR/css3-background/#the-box-decoration-break",
	"box-shadow"	=&gt; "http://www.w3.org/TR/css3-background/#the-box-shadow",
	"box-sizing"	=&gt; "http://www.w3.org/TR/css3-ui/#box-sizing0",
	"break-after"	=&gt; "http://www.w3.org/TR/css3-multicol/#break-after",
	"break-before"	=&gt; "http://www.w3.org/TR/css3-multicol/#break-before",
	"break-inside"	=&gt; "http://www.w3.org/TR/css3-multicol/#break-inside",
	"caption-side"	=&gt; "http://www.w3.org/TR/CSS21/tables.html#propdef-caption-side",
	"clear"	=&gt; "http://www.w3.org/TR/css3-box/#clear",
	"clip"	=&gt; "http://www.w3.org/TR/CSS21/visufx.html#propdef-clip",
	"color"	=&gt; "http://www.w3.org/TR/css3-color/#color0",
	"color-profile"	=&gt; "http://www.w3.org/TR/2003/CR-css3-color-20030514/#icc-color",
	"column-count"	=&gt; "http://www.w3.org/TR/css3-multicol/#column-count",
	"column-fill"	=&gt; "http://www.w3.org/TR/css3-multicol/#column-fill",
	"column-gap"	=&gt; "http://www.w3.org/TR/css3-multicol/#column-gap",
	"column-rule"	=&gt; "http://www.w3.org/TR/css3-multicol/#column-rule",
	"column-rule-color"	=&gt; "http://www.w3.org/TR/css3-multicol/#column-rule-color",
	"column-rule-style"	=&gt; "http://www.w3.org/TR/css3-multicol/#column-rule-style",
	"column-rule-width"	=&gt; "http://www.w3.org/TR/css3-multicol/#column-rule-width",
	"column-span"	=&gt; "http://www.w3.org/TR/css3-multicol/#column-span",
	"column-width"	=&gt; "http://www.w3.org/TR/css3-multicol/#column-width",
	"columns"	=&gt; "http://www.w3.org/TR/css3-multicol/#columns",
	"content"	=&gt; "http://www.w3.org/TR/css3-content/#content",
	"counter-increment"	=&gt; "http://www.w3.org/TR/css3-content/#counters",
	"counter-reset"	=&gt; "http://www.w3.org/TR/css3-content/#counters",
	"crop"	=&gt; "http://www.w3.org/TR/css3-content/#the-crop",
	"cue"	=&gt; "http://www.w3.org/TR/css3-speech/#cue",
	"cue-after"	=&gt; "http://www.w3.org/TR/css3-speech/#cue-after",
	"cue-before"	=&gt; "http://www.w3.org/TR/css3-speech/#cue-before",
	"cursor"	=&gt; "http://www.w3.org/TR/css3-ui/#cursor0",
	"direction"	=&gt; "http://www.w3.org/TR/CSS21/visuren.html#propdef-direction",
	"display"	=&gt; "http://www.w3.org/TR/css3-box/#display",
	"dominant-baseline"	=&gt; "http://www.w3.org/TR/css3-linebox/#dominant-baseline",
	"drop-initial-after-adjust"	=&gt; "http://www.w3.org/TR/css3-linebox/#drop-initial-after-adjust",
	"drop-initial-after-align"	=&gt; "http://www.w3.org/TR/css3-linebox/#drop-initial-after-align",
	"drop-initial-before-adjust"	=&gt; "http://www.w3.org/TR/css3-linebox/#drop-initial-before-adjust",
	"drop-initial-before-align"	=&gt; "http://www.w3.org/TR/css3-linebox/#drop-initial-before-align",
	"drop-initial-size"	=&gt; "http://www.w3.org/TR/css3-linebox/#drop-initial-size",
	"drop-initial-value"	=&gt; "http://www.w3.org/TR/css3-linebox/#drop-initial-value",
	"elevation"	=&gt; "http://www.w3.org/TR/CSS21/aural.html#propdef-elevation",
	"empty-cells"	=&gt; "http://www.w3.org/TR/CSS21/tables.html#propdef-empty-cells",
	"fit"	=&gt; "http://www.w3.org/TR/css3-page/#fit",
	"fit-position"	=&gt; "http://www.w3.org/TR/css3-page/#fit-position",
	"flex"	=&gt; "http://www.w3.org/TR/css3-flexbox/#flex",
	"flex-basis"	=&gt; "http://www.w3.org/TR/css3-flexbox/#flex-basis0",
	"flex-direction"	=&gt; "http://www.w3.org/TR/css3-flexbox/#flex-direction",
	"flex-flow"	=&gt; "http://www.w3.org/TR/css3-flexbox/#flex-flow",
	"flex-grow"	=&gt; "http://www.w3.org/TR/css3-flexbox/#flex-grow",
	"flex-shrink"	=&gt; "http://www.w3.org/TR/css3-flexbox/#flex-shrink",
	"flex-wrap"	=&gt; "http://www.w3.org/TR/css3-flexbox/#flex-wrap",
	"float"	=&gt; "http://www.w3.org/TR/css3-box/#float",
	"float-offset"	=&gt; "http://www.w3.org/TR/css3-gcpm/#float-offset",
	"font"	=&gt; "http://www.w3.org/TR/css3-fonts/#font-prop",
	"font-feature-settings"	=&gt; "http://www.w3.org/TR/css3-fonts/#font-feature-settings-prop",
	"font-family"	=&gt; "http://www.w3.org/TR/css3-fonts/#font-family-prop",
	"font-kerning"	=&gt; "http://www.w3.org/TR/css3-fonts/#font-kerning-prop",
	"font-language-override"	=&gt; "http://www.w3.org/TR/css3-fonts/#font-language-override-prop",
	"font-size"	=&gt; "http://www.w3.org/TR/css3-fonts/#font-size-prop",
	"font-size-adjust"	=&gt; "http://www.w3.org/TR/css3-fonts/#font-size-adjust-prop",
	"font-stretch"	=&gt; "http://www.w3.org/TR/css3-fonts/#font-stretch-prop",
	"font-style"	=&gt; "http://www.w3.org/TR/css3-fonts/#font-style-prop",
	"font-synthesis"	=&gt; "http://www.w3.org/TR/css3-fonts/#font-synthesis-prop",
	"font-variant"	=&gt; "http://www.w3.org/TR/css3-fonts/#font-variant-prop",
	"font-variant-alternates"	=&gt; "http://www.w3.org/TR/css3-fonts/#font-variant-alternates-prop",
	"font-variant-caps"	=&gt; "http://www.w3.org/TR/css3-fonts/#font-variant-caps-prop",
	"font-variant-east-asian"	=&gt; "http://www.w3.org/TR/css3-fonts/#font-variant-east-asian-prop",
	"font-variant-ligatures"	=&gt; "http://www.w3.org/TR/css3-fonts/#font-variant-ligatures-prop",
	"font-variant-numeric"	=&gt; "http://www.w3.org/TR/css3-fonts/#font-variant-numeric-prop",
	"font-variant-position"	=&gt; "http://www.w3.org/TR/css3-fonts/#font-variant-position-prop",
	"font-weight"	=&gt; "http://www.w3.org/TR/css3-fonts/#font-weight-prop",
	"grid-cell"	=&gt; "http://www.w3.org/TR/css3-grid-layout/#grid-cell",
	"grid-column"	=&gt; "http://www.w3.org/TR/css3-grid-layout/#grid-column",
	"grid-column-align"	=&gt; "http://www.w3.org/TR/css3-grid-layout/#grid-column-align",
	"grid-column-sizing"	=&gt; "http://www.w3.org/TR/css3-grid-layout/#grid-column-sizing",
	"grid-column-span"	=&gt; "http://www.w3.org/TR/css3-grid-layout/#grid-column-span",
	"grid-columns"	=&gt; "http://www.w3.org/TR/css3-grid-layout/#grid-columns",
	"grid-flow"	=&gt; "http://www.w3.org/TR/css3-grid-layout/#grid-flow",
	"grid-row"	=&gt; "http://www.w3.org/TR/css3-grid-layout/#grid-row",
	"grid-row-align"	=&gt; "http://www.w3.org/TR/css3-grid-layout/#grid-row-align",
	"grid-row-sizing"	=&gt; "http://www.w3.org/TR/css3-grid-layout/#grid-row-sizing",
	"grid-row-span"	=&gt; "http://www.w3.org/TR/css3-grid-layout/#grid-row-span",
	"grid-rows"	=&gt; "http://www.w3.org/TR/css3-grid-layout/#grid-rows",
	"grid-template"	=&gt; "http://www.w3.org/TR/css3-grid-layout/#grid-template",
	"hanging-punctuation"	=&gt; "http://www.w3.org/TR/css3-text/#hanging-punctuation",
	"height"	=&gt; "http://www.w3.org/TR/css3-box/#height",
	"hyphens"	=&gt; "http://www.w3.org/TR/css3-text/#hyphens",
	"icon"	=&gt; "http://www.w3.org/TR/css3-ui/#icon",
	"image-orientation"	=&gt; "http://www.w3.org/TR/css3-images/#image-orientation",
	"image-rendering"	=&gt; "http://www.w3.org/TR/css3-images/#image-rendering",
	"image-resolution"	=&gt; "http://www.w3.org/TR/css3-images/#image-resolution",
	"ime-mode"	=&gt; "http://www.w3.org/TR/css3-ui/#input-method-editor",
	"inline-box-align"	=&gt; "http://www.w3.org/TR/css3-linebox/#inline-box-align",
	"justify-content"	=&gt; "http://www.w3.org/TR/css3-flexbox/#justify-content",
	"left"	=&gt; "http://www.w3.org/TR/CSS21/visuren.html#propdef-left",
	"letter-spacing"	=&gt; "http://www.w3.org/TR/css3-text/#letter-spacing",
	"line-break"	=&gt; "http://www.w3.org/TR/css3-text/#line-break",
	"line-height"	=&gt; "http://www.w3.org/TR/css3-linebox/#line-height",
	"line-stacking"	=&gt; "http://www.w3.org/TR/css3-linebox/#line-stacking",
	"line-stacking-ruby"	=&gt; "http://www.w3.org/TR/css3-linebox/#line-stacking-ruby",
	"line-stacking-shift"	=&gt; "http://www.w3.org/TR/css3-linebox/#line-stacking-shift",
	"line-stacking-strategy"	=&gt; "http://www.w3.org/TR/css3-linebox/#line-stacking-strategy",
	"list-style"	=&gt; "http://www.w3.org/TR/css3-lists/#list-style",
	"list-style-image"	=&gt; "http://www.w3.org/TR/css3-lists/#list-style-image",
	"list-style-position"	=&gt; "http://www.w3.org/TR/css3-lists/#list-style-position",
	"list-style-type"	=&gt; "http://www.w3.org/TR/css3-lists/#list-style-type",
	"margin"	=&gt; "http://www.w3.org/TR/css3-box/#the-margin",
	"margin-bottom"	=&gt; "http://www.w3.org/TR/css3-box/#the-margin",
	"margin-left"	=&gt; "http://www.w3.org/TR/css3-box/#the-margin",
	"margin-right"	=&gt; "http://www.w3.org/TR/css3-box/#the-margin",
	"margin-top"	=&gt; "http://www.w3.org/TR/css3-box/#the-margin",
	"marker-offset"	=&gt; "http://www.w3.org/TR/2008/REC-CSS2-20080411/generate.html#markers",
	"marks"	=&gt; "http://www.w3.org/TR/css3-gcpm/#marks",
	"marquee-direction"	=&gt; "http://www.w3.org/TR/css3-marquee/#the-marquee-direction",
	"marquee-loop"	=&gt; "http://www.w3.org/TR/css3-box/#marquee-loop",
	"marquee-play-count"	=&gt; "http://www.w3.org/TR/css3-marquee/#the-marquee-play-count",
	"marquee-speed"	=&gt; "http://www.w3.org/TR/css3-marquee/#the-marquee-speed",
	"marquee-style"	=&gt; "http://www.w3.org/TR/css3-marquee/#the-marquee-style",
	"max-height"	=&gt; "http://www.w3.org/TR/css3-box/#max-height",
	"max-width"	=&gt; "http://www.w3.org/TR/css3-box/#max-width",
	"min-height"	=&gt; "http://www.w3.org/TR/css3-box/#min-height",
	"min-width"	=&gt; "http://www.w3.org/TR/css3-box/#min-width",
	"move-to"	=&gt; "http://www.w3.org/TR/css3-content/#moving",
	"nav-down"	=&gt; "http://www.w3.org/TR/css3-ui/#nav-dir",
	"nav-index"	=&gt; "http://www.w3.org/TR/css3-ui/#nav-index0",
	"nav-left"	=&gt; "http://www.w3.org/TR/css3-ui/#nav-dir",
	"nav-right"	=&gt; "http://www.w3.org/TR/css3-ui/#nav-dir",
	"nav-up"	=&gt; "http://www.w3.org/TR/css3-ui/#nav-dir",
	"opacity"	=&gt; "http://www.w3.org/TR/css3-color/#opacity",
	"order"	=&gt; "http://www.w3.org/TR/css3-flexbox/#order",
	"orphans"	=&gt; "http://www.w3.org/TR/css3-page/#orphans",
	"outline"	=&gt; "http://www.w3.org/TR/css3-ui/#outline0",
	"outline-color"	=&gt; "http://www.w3.org/TR/css3-ui/#outline-color0",
	"outline-offset"	=&gt; "http://www.w3.org/TR/css3-ui/#outline-offset0",
	"outline-style"	=&gt; "http://www.w3.org/TR/css3-ui/#outline-style0",
	"outline-width"	=&gt; "http://www.w3.org/TR/css3-ui/#outline-width0",
	"overflow"	=&gt; "http://www.w3.org/TR/css3-box/#overflow0",
	"overflow-style"	=&gt; "http://www.w3.org/TR/css3-marquee/#the-overflow-style",
	"overflow-wrap"	=&gt; "http://www.w3.org/TR/css3-text/#overflow-wrap",
	"overflow-x"	=&gt; "http://www.w3.org/TR/css3-box/#overflow-x",
	"overflow-y"	=&gt; "http://www.w3.org/TR/css3-box/#overflow-y",
	"padding"	=&gt; "http://www.w3.org/TR/css3-box/#the-padding",
	"padding-bottom"	=&gt; "http://www.w3.org/TR/css3-box/#the-padding",
	"padding-left"	=&gt; "http://www.w3.org/TR/css3-box/#the-padding",
	"padding-right"	=&gt; "http://www.w3.org/TR/css3-box/#the-padding",
	"padding-top"	=&gt; "http://www.w3.org/TR/css3-box/#the-padding",
	"page"	=&gt; "http://www.w3.org/TR/css3-page/#page",
	"page-break-after"	=&gt; "http://www.w3.org/TR/css3-page/#page-break-after",
	"page-break-before"	=&gt; "http://www.w3.org/TR/css3-page/#page-break-before",
	"page-break-inside"	=&gt; "http://www.w3.org/TR/css3-page/#page-break-inside",
	"page-policy"	=&gt; "http://www.w3.org/TR/css3-content/#page-policy",
	"pause"	=&gt; "http://www.w3.org/TR/css3-speech/#pause",
	"pause-after"	=&gt; "http://www.w3.org/TR/css3-speech/#pause-after",
	"pause-before"	=&gt; "http://www.w3.org/TR/css3-speech/#pause-before",
	"perspective"	=&gt; "http://www.w3.org/TR/css3-3d-transforms/#perspective-property",
	"perspective-origin"	=&gt; "http://www.w3.org/TR/css3-3d-transforms/#perspective-origin-property",
	"pitch"	=&gt; "http://www.w3.org/TR/CSS21/aural.html#propdef-pitch",
	"pitch-range"	=&gt; "http://www.w3.org/TR/CSS21/aural.html#propdef-pitch-range",
	"play-during"	=&gt; "http://www.w3.org/TR/CSS21/aural.html#propdef-play-during",
	"position"	=&gt; "http://www.w3.org/TR/CSS21/visuren.html#propdef-position",
	"presentation-level"	=&gt; "http://www.w3.org/TR/css3-preslev/#presentation-level-property",
	"punctuation-trim"	=&gt; "http://www.w3.org/TR/css3-text/#punctuation-trim",
	"quotes"	=&gt; "http://www.w3.org/TR/css3-content/#quotes",
	"rendering-intent"	=&gt; "http://www.w3.org/TR/2003/CR-css3-color-20030514/#renderingintent",
	"resize"	=&gt; "http://www.w3.org/TR/css3-ui/#resize0",
	"rest"	=&gt; "http://www.w3.org/TR/css3-speech/#rest",
	"rest-after"	=&gt; "http://www.w3.org/TR/css3-speech/#rest-after",
	"rest-before"	=&gt; "http://www.w3.org/TR/css3-speech/#rest-before",
	"richness"	=&gt; "http://www.w3.org/TR/CSS21/aural.html#propdef-richness",
	"right"	=&gt; "http://www.w3.org/TR/CSS21/visuren.html#propdef-right",
	"rotation"	=&gt; "http://www.w3.org/TR/css3-box/#rotating",
	"rotation-point"	=&gt; "http://www.w3.org/TR/css3-box/#rotating",
	"ruby-align"	=&gt; "http://www.w3.org/TR/css3-ruby/#ruby-align",
	"ruby-overhang"	=&gt; "http://www.w3.org/TR/css3-ruby/#ruby-overhang",
	"ruby-position"	=&gt; "http://www.w3.org/TR/css3-ruby/#ruby-position",
	"ruby-span"	=&gt; "http://www.w3.org/TR/css3-ruby/#ruby-span",
	"size"	=&gt; "http://www.w3.org/TR/css3-page/#size",
	"speak"	=&gt; "http://www.w3.org/TR/css3-speech/#speak",
	"speak-as"	=&gt; "http://www.w3.org/TR/css3-speech/#speak-as",
	"speak-header"	=&gt; "http://www.w3.org/TR/CSS21/aural.html#propdef-speak-header",
	"speak-numeral"	=&gt; "http://www.w3.org/TR/CSS21/aural.html#propdef-speak-numeral",
	"speak-punctuation"	=&gt; "http://www.w3.org/TR/CSS21/aural.html#propdef-speak-punctuation",
	"speech-rate"	=&gt; "http://www.w3.org/TR/CSS21/aural.html#propdef-speech-rate",
	"stress"	=&gt; "http://www.w3.org/TR/CSS21/aural.html#propdef-stress",
	"string-set"	=&gt; "http://www.w3.org/TR/css3-gcpm/#string-set",
	"tab-size"	=&gt; "http://www.w3.org/TR/css3-text/#tab-size",
	"table-layout"	=&gt; "http://www.w3.org/TR/CSS21/tables.html#propdef-table-layout",
	"target"	=&gt; "http://www.w3.org/TR/css3-hyperlinks/#the-target",
	"target-name"	=&gt; "http://www.w3.org/TR/css3-hyperlinks/#the-target-name",
	"target-new"	=&gt; "http://www.w3.org/TR/css3-hyperlinks/#the-target-new",
	"target-position"	=&gt; "http://www.w3.org/TR/css3-hyperlinks/#the-target-position",
	"text-align"	=&gt; "http://www.w3.org/TR/css3-text/#text-align",
	"text-align-last"	=&gt; "http://www.w3.org/TR/css3-text/#text-align-last",
	"text-decoration"	=&gt; "http://www.w3.org/TR/CSS21/text.html#propdef-text-decoration",
	"text-decoration-color"	=&gt; "http://www.w3.org/TR/css-text-decor-3/#text-decoration-color",
	"text-decoration-line"	=&gt; "http://www.w3.org/TR/css-text-decor-3/#text-decoration-line",
	"text-decoration-skip"	=&gt; "http://www.w3.org/TR/css-text-decor-3/#text-decoration-skip",
	"text-decoration-style"	=&gt; "http://www.w3.org/TR/css-text-decor-3/#text-decoration-style",
	"text-emphasis"	=&gt; "http://www.w3.org/TR/css-text-decor-3/#text-emphasis",
	"text-emphasis-color"	=&gt; "http://www.w3.org/TR/css-text-decor-3/#text-emphasis-color",
	"text-emphasis-position"	=&gt; "http://www.w3.org/TR/css-text-decor-3/#text-emphasis-position",
	"text-emphasis-style"	=&gt; "http://www.w3.org/TR/css-text-decor-3/#text-emphasis-style",
	"text-height"	=&gt; "http://www.w3.org/TR/css3-linebox/#text-height",
	"text-indent"	=&gt; "http://www.w3.org/TR/css3-text/#text-indent",
	"text-justify"	=&gt; "http://www.w3.org/TR/css3-text/#text-justify",
	"text-outline"	=&gt; "http://www.w3.org/TR/css3-text/#text-outline",
	"text-overflow"	=&gt; "http://www.w3.org/TR/css3-ui/#text-overflow",
	"text-shadow"	=&gt; "http://www.w3.org/TR/css-text-decor-3/#text-shadow",
	"text-space-collapse"	=&gt; "http://www.w3.org/TR/css3-text/#white-space-collapsing",
	"text-transform"	=&gt; "http://www.w3.org/TR/CSS21/text.html#propdef-text-transform",
	"text-underline-position"	=&gt; "http://www.w3.org/TR/css-text-decor-3/#text-underline-position",
	"text-wrap"	=&gt; "http://www.w3.org/TR/css3-text/#text-wrap",
	"top"	=&gt; "http://www.w3.org/TR/CSS21/visuren.html#propdef-top",
	"transform"	=&gt; "http://www.w3.org/TR/css3-3d-transforms/#transform-property",
	"transform-origin"	=&gt; "http://www.w3.org/TR/css3-3d-transforms/#transform-origin-property",
	"transform-style"	=&gt; "http://www.w3.org/TR/css3-3d-transforms/#transform-style-property",
	"transition"	=&gt; "http://www.w3.org/TR/css3-transitions/#transition",
	"transition-delay"	=&gt; "http://www.w3.org/TR/css3-transitions/#transition-delay",
	"transition-duration"	=&gt; "http://www.w3.org/TR/css3-transitions/#transition-duration",
	"transition-property"	=&gt; "http://www.w3.org/TR/css3-transitions/#transition-property",
	"transition-timing-function"	=&gt; "http://www.w3.org/TR/css3-transitions/#transition-timing-function",
	"unicode-bidi"	=&gt; "http://www.w3.org/TR/CSS21/visuren.html#propdef-unicode-bidi",
	"vertical-align"	=&gt; "http://www.w3.org/TR/css3-linebox/#vertical-align",
	"visibility"	=&gt; "http://www.w3.org/TR/css3-box/#visibility",
	"voice-balance"	=&gt; "http://www.w3.org/TR/css3-speech/#voice-balance",
	"voice-duration"	=&gt; "http://www.w3.org/TR/css3-speech/#voice-duration",
	"voice-family"	=&gt; "http://www.w3.org/TR/css3-speech/#voice-family",
	"voice-pitch"	=&gt; "http://www.w3.org/TR/css3-speech/#voice-pitch",
	"voice-range"	=&gt; "http://www.w3.org/TR/css3-speech/#voice-range",
	"voice-rate"	=&gt; "http://www.w3.org/TR/css3-speech/#voice-rate",
	"voice-stress"	=&gt; "http://www.w3.org/TR/css3-speech/#voice-stress",
	"voice-volume"	=&gt; "http://www.w3.org/TR/css3-speech/#voice-volume",
	"volume"	=&gt; "http://www.w3.org/TR/CSS21/aural.html#propdef-volume",
	"white-space"	=&gt; "http://www.w3.org/TR/css3-text/#white-space",
	"widows"	=&gt; "http://www.w3.org/TR/css3-page/#widows",
	"width"	=&gt; "http://www.w3.org/TR/css3-box/#width",
	"word-break"	=&gt; "http://www.w3.org/TR/css3-text/#word-break",
	"word-spacing"	=&gt; "http://www.w3.org/TR/css3-text/#word-spacing",
	"word-wrap"	=&gt; "http://www.w3.org/TR/css3-text/#word-wrap",
	"z-index"	=&gt; "http://www.w3.org/TR/CSS21/visuren.html#propdef-z-index",
}

require "#{ENV['TM_SUPPORT_PATH']}/lib/exit_codes.rb"

cur_line = ENV['TM_CURRENT_LINE']
cur_word = ENV['TM_CURRENT_WORD']

# since dash (‘-’) is not a word character, extend current word to neighboring word and dash characters
$prop_name = /[-\w]*#{Regexp.escape cur_word}[-\w]*/.match(cur_line)[0]

def request_prop_name
  s = `\"#{ENV['TM_SUPPORT_PATH']}/bin/CocoaDialog.app/Contents/MacOS/CocoaDialog\" inputbox --float --title 'Documentation for Property' --informative-text 'What property would you like to lookup?' --text '#{$prop_name}' --button1 'Lookup' --button2 'Cancel' --button3 'Show All Properties'`
  case (a = s.split("\n"))[0].to_i
    when 1 then $props[a[1].to_s] || "http://meiert.com/en/indices/css-properties/"
    when 2 then TextMate.exit_discard
    when 3 then "http://meiert.com/en/indices/css-properties/"
  end
end

url = $props[$prop_name] || request_prop_name
puts "&lt;meta http-equiv='Refresh' content='0;URL=#{url}'&gt;"
</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>^h</string>
	<key>name</key>
	<string>Documentation for Property</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>html</string>
	<key>outputLocation</key>
	<string>newWindow</string>
	<key>scope</key>
	<string>source.css</string>
	<key>semanticClass</key>
	<string>lookup.define.css</string>
	<key>uuid</key>
	<string>50AA6E95-A754-4EBC-9C2A-68418C70D689</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
